@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --lg-font: 'kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --principal-color:  #6c5cf0;
    --secondary-color:  #11acd4;
}

.card-img-top1{
    width: 60%;
    align-self: center;
}

.card-img-top2{
    width: 65%;
    align-self: center;
}

.card-img-top3{
    width: 76%;
    align-self: center;
}

.card-img-top6{
    width: 78%;
    align-self: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}
#img-view{
    width:  100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
}
#img-view img{
    width: 100px;
    margin-top: 25px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}
.category-btn{
    border-radius: 10px;
    border-color: none;
    background-color: rgb(230, 230, 230);
}
.category-btn-active{
    background-color: rgb(108, 92, 240);
    color: white
}
.shoppingCart{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #f7f8ff;
    height: 100vh;
    transition: 0.5s;
}
.shoppingCart h1{
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.shoppingCart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.shoppingCart .checkOut div{
    background-color: var(--principal-color);
    color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.shoppingCart .checkOut div:nth-child(2){
    background-color: var(--secondary-color);
    color: #fff;
}

.active .shoppingCart{
    left:  calc(100% - 500px);
}
.active .container{
    transform: translateX(-200px);
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3,1fr);
    row-gap:  10px;
    margin-bottom: 20px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCArd li img{
    width: 90%;
}

.listCard button{
    
}