@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --lg-font: 'kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
}

.card-img-top1{
    width: 60%;
    align-self: center;
}

.card-img-top2{
    width: 65%;
    align-self: center;
}

.card-img-top3{
    width: 76%;
    align-self: center;
}

.card-img-top6{
    width: 78%;
    align-self: center;
}
