@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --lg-font: 'kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
}

.card-img-top3{
    padding: 5px;
    width:85%;
    align-self: center;
}

.card-img-top2{
    padding: 5px;
    width:89%;
    align-self: center;
}

.card-img-top3{
    padding: 5px;
    width:85%;
    align-self: center;
}

