{% extends "home_base.html" %}
{% block title%}Customize{% endblock %} 
{% block content %}
<style>
    .imagen-btn {
        width: 50px;
        height: 50px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="align-items: center; ">
                <h2>Ejemplo Posición Estampa</h2>
                <img src="{{url_for('static', filename='img/CamisasHome/customize.png')}}" alt="Camiseta Estándar" class="card-img-top">
            </div>
        </div>
        <div class="col-md-6">
            <form action="/calcular_total" method="get" class="card-body">
                <h2 class="mb-4" style="text-align: center;">Camiseta Estándar</h2>
                <div class="form-group">
                    <label for="size">Talla:</label>
                    <select class="form-control" name="size">
                        {% for key, value in precios.items() %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" class="form-control" name="quantity" min="1" value="1">
                </div>
            
                <h2 class="text-center mt-4">Estampas</h2>
                <div class="container mt-4">
                    <div class="row" style="margin-right: -5px; margin-left: -5px; width: fit-content;"> 
                        {% for print in prints %}
                        <div class="col-md-4 columna-botones" style="margin-bottom: 5px;" style="width: 50px;"> <!-- Ajustamos el margen inferior -->
                            <button class="btn btn-light abrir-modal" data-toggle="modal" data-target="#imagenModal{{ loop.index }}"">
                                <img src="{{ url_for('static', filename='img/uploadedPrints/' + print.image) }}" alt="{{ print.image }}" class="imagen-btn">
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
                {% for print in prints %}
                <div class="modal fade" id="imagenModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel{{ loop.index }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ url_for('static', filename='img/uploadedPrints/' + print.image) }}" alt="Imagen a pantalla completa" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="text-center"> <!-- Centro el botón de comprar -->
                    <button type="submit" class="btn btn-primary" style="margin-top: 3%;">Comprar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.abrir-modal').forEach(function (btn) {
        btn.addEventListener('click', function (event) {
            // Evita la acción predeterminada del botón (que envíe el formulario)
            event.preventDefault();

            // Abre el modal asociado al botón clicado
            var modalId = this.getAttribute('data-target');
            $(modalId).modal('show');
        });
    });
</script>
{% endblock %}