<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" conten="width=device-width, initial-scale=1"/>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>  
      <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">          
      <style>
        body{
          background-color:#e6e6e6;
        }
      </style> 
      {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-#d5e3f3" >
      <div class="container">
        <a href="" class="navbar-brand"><img src="{{url_for('static', filename='img/neonkraken.png')}}" alt="site icon" style="width: 40px; height: auto;"><span class="text-uppercase fw-lighter ms-2"><strong>neonkraken designs</strong></span></a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
          <ul class="navbar-nav">
            <li class="nav-link">
              <a class="nav-link" href="/"><b>Home</b></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="/prints"><b>Prints</b></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="/tshirts"><b>T-Shirt</b></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="/"><b>Customize</b></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="/upload-design"><b>Upload your design</b></a>
            </li>
          </ul>
        </div>
        <div>
          <div class="dropdown">
            <button type="button" class="btn position-relative"><i class="fa fa-search"></i><span class="position-absolute top-0 start-100 translate-middle badge bg-primary"></span></button>
            <button type="button" class="btn position-relative" id="cartBtn"><i class="fa fa-shopping-cart"></i><span class="position-absolute top-0 start-100 translate-middle badge bg-primary">{% block cart %}5{% endblock %}</span></button>
            <button type="button" class="btn position-relative" data-bs-toggle="dropdown">
              <i class="fa fa-user"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary"></span>
          </button>
          <ul class="dropdown-menu">
            {% if isLoggedIn %}
              <li><a href="/sign-in" class="dropdown-item">your acount</a></li>
              <li><a href="/sign-up" class="dropdown-item">Log out</a></li>
            {% else %}
              <li><a href="/sign-in" class="dropdown-item">Sign-in</a></li>
              <li><a href="/sign-up" class="dropdown-item">Sign-up</a></li>
            {% endif %}
          </ul>
          </div>
        </div>
      </div>
    </nav>    
    <div clas="container">
    {% block content %}
    {% endblock %}
    </div>
    <div class="shoppingCart">
      <div class="">
        <div class="header">
          <h1>shopping cart</h1>
          <button type="button" class="btn-close closeShoppingCart" id="closeShoppingCart" aria-label="Close"></button>
        </div>
        <ul class="listCard"></ul>
      </div>
      <div class="bottomShoppingDiv">
        <div class="summaryDiv">
          <div id="totalTitle"><h1>Total</h1></div>
          <div id="total"><h1 class="total"></h1></div>
        </div>
        <div class="checkOut mb-5">
          <div style="padding-left: 15%;"><button type="button" id="closeBtn" class="btn btn-secondary px-5 py-2 mr-15 closeShoppingCart" style="font-weight: bold;">keep buying</button></div>
          <div id="buyBtn" style="padding-right: 15%;"><button type="submit" id="checkOutBtn" class="btn btn-primary px-5 py-2 ml-15" style="font-weight: bold;" href="/calcular_total">Checkout</button></div> 
        </div>
      </div>
    </div>
    <footer class="bg-#e6e6e6 text-black mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Contacto</h5>
            <p>Dirección: Calle Principal, Ciudad</p>
            <p>Email: info@tiendacamisetas.com</p>
            <p>Teléfono: +123456789</p>
          </div>
          <div class="col-md-4">
            <h5>Enlaces Rápidos</h5>
            <ul class="list-unstyled">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Catálogo</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Síguenos en Redes Sociales</h5>
            <ul class="list-unstyled">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>    
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="static/js/graphics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" ></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" ></script>-->
  </body>
</html>