{% extends "home_base.html" %}
{% block title%} Prints {% endblock %} 
{% block content %}
<h1>Prints</h1>
<div class="container mt-5">
    <div class="row">
      {% for print in prints %}
      <div class="col-md-3">
        <div class="card">
          <img src="static/img/uploadedPrints/{{print.image}}" class="card-img-top" alt="{{print.image}}">
          <div class="card-body">
            <h5 class="card-title">{{ print.print_name}}</h5>
            <p class="card-text">Autor
              <a href="#">
                {% for artist in artists %}
                  {% if artist.artist_id == print.artist_id%}
                    {{artist.artist_info}}
                  {% endif %}
                {% endfor %}
              </a>
            </p>
            <a href="#" class="btn btn-primary">Ver detalles</a>
          </div>
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}