{% extends "home_base.html" %}
{% block title%}T-Shirts_view{% endblock %} 
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="/static/img/CamisasHome/{{tshirt.image}}" alt="Camiseta Estándar" class="card-img-top store">
            </div>
        </div>
        <div class="col-md-6">
                <h2 class="mb-4">{{tshirt.name}}</h2>

                <div class="form-group">
                    <label for="size">Talla:</label>
                    <select class="form-control" name="size"  id="sizeTshirt">
                        {% for size in sizes %}
                        <option value="{{ size.id }}">{{ size.size }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" class="form-control" name="quantity" min="1" value="1" id="quantityTshirt">
                </div>

                <button type="submit" class="btn btn-primary addToStock" style="margin-top: 3%;" value="{{tshirt.tshirt_id}}">add to stock</button>
                <label for="mostrar">mostrar en 'Home'?:</label>
                <input type="checkbox" id="mostrar" name="miCheckbox" value="valorDelCheckbox">
        </div>
    </div>
</div>
{% endblock %}